[Unit]
Description=hyprwhspr-rs Voice Dictation Service
After=graphical-session.target pipewire.service
Wants=

[Service]

[Install]
WantedBy=default.target
